// Font-face -------------------------
@font-face {
    font-family: 'enriquetabold';
    src: url('../fonts/enriqueta-bold-webfont.eot');
    src: url('../fonts/enriqueta-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enriqueta-bold-webfont.woff') format('woff'),
         url('../fonts/enriqueta-bold-webfont.ttf') format('truetype'),
         url('../fonts/enriqueta-bold-webfont.svg#enriquetabold') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'dinregular';
    src: url('../fonts/din-webfont.eot');
    src: url('../fonts/din-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-webfont.woff') format('woff'),
         url('../fonts/din-webfont.ttf') format('truetype'),
         url('../fonts/din-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'din_lightregular';
    src: url('../fonts/din_light-webfont.eot');
    src: url('../fonts/din_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_light-webfont.woff') format('woff'),
         url('../fonts/din_light-webfont.ttf') format('truetype'),
         url('../fonts/din_light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'din_mediumregular';
    src: url('../fonts/din_medium-webfont.eot');
    src: url('../fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_medium-webfont.woff') format('woff'),
         url('../fonts/din_medium-webfont.ttf') format('truetype'),
         url('../fonts/din_medium-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
	font-family: 'FuturaLT-CondensedExtraBold';
	src: url('../fonts/futura-lt-condensed-extra-bold.eot');
	src: url('../fonts/futura-lt-condensed-extra-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/futura-lt-condensed-extra-bold.woff') format('woff'),
		 url('../fonts/futura-lt-condensed-extra-bold.ttf') format('truetype'),
		 url('../fonts/futura-lt-condensed-extra-bold.svg#futura-lt-condensed-extra-bold') format('svg');
	font-weight: normal;
	font-style: normal;}    

// Navbar ------------------------
.nav-second {background-color:@azul-principal; margin-top: -20px;}
.logo-img {margin-top: -45px;}
h3.nav-second-title {color: @white; font-family: "din_lightregular", Helvetica, Arial, sans-serif;}

.nav-third {background-color:@celeste-bordes; margin-top: -20px; display: block;}

// Left Bar ------------------------
.left-bar {background-color:@azul-left-bar; border: 10px @celeste-bordes solid; border-top: none; padding: 12px; margin-top: -30px}
h3.left-bar-title, h5.left-bar-title  {font-family: "enriquetabold", Helvetica, Arial, sans-serif; color: @azul-top-claro;}
p.left-bar-txt a, p.left-bar-txt {color: @azul-principal;}

// Contenido ------------------------
.contenido {margin-top: -20px;}

// Boletos ------------------------
.padding-boletos {padding-top: 25px;}
.row-boletos {background: @white;}
.boleto {background: @white; padding: 10px}
.boleto-subtitle {color: @grayLight; font-size: 11px; line-height: 10px;}
h2.boleto-title {font-family: "FuturaLT-CondensedExtraBold", Helvetica, Arial, sans-serif; color: @black; line-height: 25px;}
p.boleto-txt {color: @gray; font-size: 13px; line-height: 12px;}

.boleto-bottom {background: @azul-principal;}